@import './tailwind.css';

@font-face {
    font-family: 'Neo-Light';
    src: url('../fonts/NanumSquareNeo-aLt.ttf');
}
@font-face {
    font-family: 'Neo-Regular';
    src: url('../fonts/NanumSquareNeo-bRg.ttf');
}
@font-face {
    font-family: 'Neo-Bold';
    src: url('../fonts/NanumSquareNeo-cBd.ttf');
}
@font-face {
    font-family: 'Neo-ExBold';
    src: url('../fonts/NanumSquareNeo-dEb.ttf');
}
@font-face {
    font-family: 'Neo-Heavy';
    src: url('../fonts/NanumSquareNeo-eHv.ttf');
}
@font-face {
    font-family: 'Cafe-Surround';
    src: url('../fonts/Cafe24Ssurround-v2.0.ttf');
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
