@import './tailwind.css';

@font-face {
    font-family: 'Neo-Light';
    src: url('../fonts/NanumSquareNeo-aLt.ttf');
}
@font-face {
    font-family: 'Neo-Regular';
    src: url('../fonts/NanumSquareNeo-bRg.ttf');
}
@font-face {
    font-family: 'Neo-Bold';
    src: url('../fonts/NanumSquareNeo-cBd.ttf');
}
@font-face {
    font-family: 'Neo-ExBold';
    src: url('../fonts/NanumSquareNeo-dEb.ttf');
}
@font-face {
    font-family: 'Neo-Heavy';
    src: url('../fonts/NanumSquareNeo-eHv.ttf');
}
