@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .item-center{
        @apply flex flex-col items-center justify-center
    }
    .flex-with-row{
        @apply flex flex-row
    }
    .flex-with-col{
        @apply flex flex-col
    }
    .no-scrollbar {
        /* Webkit 기반 브라우저에서 스크롤 바 숨기기 */
        &::-webkit-scrollbar {
            display: none;
        }
        /* IE 및 Edge에서 스크롤 바 숨기기 */
        -ms-overflow-style: none;
        /* Firefox에서 스크롤 바 숨기기 */
        scrollbar-width: none;
    }
}
